
.body{
  font-family: url(../https://fonts.gstatic.com);
}


/* Style the navigation menu */
.topnav {
  overflow: hidden;
  position: relative;
  font-size: 20pt;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
   text-align: left;
   background-color:rgb(0, 0, 0);
  right: 0;
  margin-right: auto;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  background: #a53f00;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: #ddd;
  color: #a53f00;
}

/* Style the active link (or home/logo) */
.active {
    background-color:#545738;
    color: white;
}



.mypicture {
  margin-top:20px;
  background-image: url("../me.jpeg");
  background-repeat: no-repeat;
  flex-direction: left;
 
}

.my-picture img{ 
  width:25px;
  
}
/*Flex container about me and tools*/
.container {
  display: flex;
}



.item + .item {
  margin-left: 2%;
}
  .aboutme {
    display: flex;
    flex-grow: 1;

    height: 432px;
    width: 618px;
    flex-direction: left;
    margin: 0 auto;
    font-size: 20px; 
    font-family: 'montserrat' sans-serif;
    ;
  
}
      

  .socialmedia {
  
      padding: 20px;
      width: 97px;
      height: 97px;
      flex-direction: left;
    
    }
    
    .socialmedia:hover {
      opacity: 1.2;
  }

  
  .designthinking{

    display: flex;
    height: 162px;
    width: 1123px;
   flex-direction: right;
  }

  .UXUIDesign 
  {display: flex;
    height: 162px;
    width: 1123px;
    align-items: right;
  }
  .digitaltransformation
  {display: flex;
    height: 162px;
    width: 1123px;
    align-items:right;
  }



  .separator{
    padding: 50px;
    text-align: center;
font-size: 50px;}

.hr{
 float:left ;}

.h1
{
  font-size: 80px;
  justify-content: center;
}

  .right {
   
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

.flex-column{

  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.flex-column div{
  padding:3vw ;


}

.double-column{
  display:flex;
}
